body{
    margin: 0;
    padding: 0;
}
.login{
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 17px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#particles-js{
width: 100%;
height: 100%;
position: fixed;
background: rgba(0, 0, 0 ,.8);

}
#user-group{
    margin-top: 20px;
}
.main-sention{
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

#btn{
    margin-top: 5px;
    margin-bottom: 10px;
}

.modal-content{
    background-color: #bb662e;
    opacity: 0.85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}

button{
    text-decoration: none;
    text-decoration-color: aliceblue;
}

#color{

    background-color: black;
}
.caj{

    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cuerpo-ve{
margin: 0;
padding: 0;
}
.contenedor-ve{
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 17px;
    width: 80%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
