*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.widget{
    width: 50%;
/*    margin: 2em;*/
    margin: 1em auto;
}
.widget p{
    display: inline-block;
    line-height: 1em;
        
}
.fechareloj  {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-align: left; 
    width: 50%;
    display: block;  
    display:inline-block;
}